<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="Dealer Orders"
        android:theme="@style/Theme.MaterialComponents.Light.DarkActionBar">

        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DealersActivity" android:exported="false" />
        <activity android:name=".LocationsActivity" android:exported="false" />
        <activity android:name=".ItemsActivity" android:exported="false" />
        <activity android:name=".BrandsActivity" android:exported="false" />
        <activity android:name=".VariantOptionsActivity" android:exported="false" />
        <activity android:name=".FamilyDetailActivity" android:exported="false" />
        <activity android:name=".OrdersActivity" android:exported="false" />
        <activity android:name=".NewOrderActivity" android:exported="false" />
        <activity android:name=".EditOrderActivity" android:exported="false" />
        <activity android:name=".OrderDetailActivity" android:exported="false" />
        <activity android:name=".BackupActivity" android:exported="false" />
    </application>
</manifest>
